{% extends "base.html" %}

{% block title %}Doctor Dashboard{% endblock %}

{% block content %}
<h1>Doctor Dashboard</h1>

{% include "doctor/doctor_menu.html" %}

<!-- Patients container -->
<h2 style="margin-left:20px; padding:20px;">Accepted Patients</h2>
<div id="patients-list">
    {% include 'doctor/patients_list.html' %}
</div>

<script>
async function refreshPatients() {
    try {
        const response = await fetch("{% url 'doctor:patients_fragment' %}");
        const html = await response.text();
        const container = document.querySelector('#patients-list');
        container.innerHTML = html;

        localStorage.removeItem('dismissedPatients');
    } catch (error) {
        console.error('Error refreshing patients:', error);
    }
}

setInterval(refreshPatients, 5000);
</script>
{% endblock %}
